body {
  background-color: rgb(114, 189, 222);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h1 {
  text-align: left;
  font-size: 60px;
  margin: 25px 0 10px;
  font-weight: bold;
}
h2 {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  position: relative;
  top: -15px;
}

h3 {
  font-size: 110px;
  margin: 0;
}

h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
  font-weight: bold;
}
h6 {
  font-size: 50px;
}

p {
  font-size: 14px;
}
.container {
  margin-top: 50px;
}
.card {
  background-color: rgb(255, 255, 255, 0.9);
  max-width: 600px;
  margin: 0 auto;
}
.weekly-forecast {
  margin-top: 20px;
}
.daily {
  text-align: left;
}
.units {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: -15px;
}
.degree {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
}
#search-button {
  margin-left: 10px;
}
#current-button {
  margin: 0 15px;
}
#description {
  text-transform: capitalize;
}
