body {
  background-color: rgb(114, 189, 222);
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
h1 {
  text-align: left;
  font-size: 60px;
  margin: 25px 0 10px;
  font-weight: bold;
}
h2 {
  text-align: left;
  font-size: 14px;
  position: relative;
  top: -10px;
}

h4 {
  text-align: center;
  font-size: 18px;
  position: relative;
  top: -15px;
}
h5 {
  font-size: 18px;
  font-weight: bold;
}
h6 {
  font-size: 50px;
}

p {
  font-size: 14px;
}
ul {
  font-size: 14px;
  list-style: none;
}
.container {
  margin-top: 50px;
}
.card {
  background-color: rgb(255, 255, 255, 0.9);
  max-width: 600px;
  margin: 0 auto;
}

#daily {
  text-align: left;
  position: relative;
  top: 30px;
}
#units {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: -26px;
}
#current-temp {
  font-size: 55px;
  font-weight: bold;
}
#search-button {
  margin-left: 10px;
}
#current-button {
  margin: 0 15px;
}
#description:first-letter {
  text-transform: capitalize;
}
